UPDATE usuarios SET password_hash = '$2a$10$hEWfNtfp2y9vOq2o10Sw7ut7KBg/xOXpc2429D79AsslGFwv/P67a' WHERE username = 'admin';
UPDATE usuarios SET password_hash = '$2a$10$KSMxaVA3Xd09ddBdB4j4DO3ot9Atu5NDgHDSTkflVJb6w.nmb5gye' WHERE username = 'usuario';
